
pre, code, kbd, samp {
  font-family: var(--vp-font-family-mono);
}

.vp-doc h2 {
  margin: 15px 0 16px;
  padding-top: 10px;
  border-top: none;
}

.VPDoc .content-container img {
  border-radius: 5px;
}

:root {
  --vp-code-font-size: 14px
}

.VPHome {
  padding-bottom: 0 !important;
}

/*medium-zoom*/
.medium-zoom--opened .medium-zoom-overlay {
  z-index: 999;
}
.medium-zoom-image.medium-zoom-image--opened {
  z-index: 1000;
}
