.VPDoc {

}
@media (min-width: 960px) {
  .VPDoc {
    padding: 32px 0 0 !important;
  }
}

.vp-doc [class*=language-] code {
  font-size: 16px !important;
}

pre, code, kbd, samp {
  font-family: var(--vp-font-family-mono) !important;
}
