.card-item-wrap {
  margin-bottom: 40px;
}
.card {
  background-color: var(--vp-c-bg-alt);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 20px 50px 0 rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}
.card:hover, .card:focus-within {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.2);
  transform: translatey(-5px);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  .title {
    font-size: 1.25rem;
    background: linear-gradient(#1890ff, white) no-repeat;
    background-size: 100% 3px;
    background-position: -20em 1.45em;
    transition: .8s;
    &:hover {
      background-position: 0 1.45em;
    }
  }
}
.card-header a {
  font-weight: 600;
  margin-bottom: 5px;
  text-decoration: none;
  color: var(--vp-c-text-1);
  &:hover {
    color: #1890ff;
  }
}


.icon-button {
  border: 0;
  background-color: #fff;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  transition: 0.25s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  z-index: 1;
  color: #565656;
}
.icon-button svg {
  width: 1em;
  height: 1em;
}
.icon-button:hover, .icon-button:focus {
  background-color: #EC4646;
  color: #FFF;
}

.card-footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 13px;
}

.has-mt {
  margin-top: 1.25rem;
}

.card-meta {
  display: flex;
  align-items: center;
  color: #787878;
}
.card-meta:first-child:after {
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: currentcolor;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}
.card-meta svg {
  flex-shrink: 0;
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
}

.card-desc {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  p {
    display: block;
    color: var(--vp-c-text-2);

  }
}

.card-meta--tags {
  a {
    color: #7F7F7F;
    margin-right: 10px;
    &:hover {
      color: #1890ff;
    }
  }
}

.current-tag {
  color: #1890ff !important;
  font-size: 14px;
}
